{% extends "base.html" %}


{% block title %}Agregar Entrega{% endblock %}

{% block content %}
<h2>Agregar Entrega al Contrato #{{ contrato.id }}</h2>

{% if form.errors %}
  <div class="alert alert-danger">
    <strong>Errores en el formulario:</strong>
    {{ form.errors }}
  </div>
{% endif %}


<form method="POST">
    {% csrf_token %}

    {{ form.especie.label_tag }} {{ form.especie }}<br><br>
    {{ form.mes.label_tag }} {{ form.mes }}<br><br>
    {{ form.toneladas_requeridas.label_tag }} {{ form.toneladas_requeridas }}<br><br>
    {{ form.toneladas_cumplidas.label_tag }} {{ form.toneladas_cumplidas }}<br><br>

    {{ form.compromiso_sin_stock }} {{ form.compromiso_sin_stock.label_tag }}<br><br>
    {{ form.fecha_limite.label_tag }} {{ form.fecha_limite }}<br><br>

    <button type="submit">Guardar</button>
</form>
{% endblock %}
