{% extends "base.html" %}
{% block title %}Detalle del Contrato{% endblock %}

{% block content %}

<h3>Entregas Registradas</h3>

<a href="{% url 'entrega_crear' contrato.id %}" class="btn btn-primary">
    ➕ Agregar Entrega
</a>

<table class="table">
    <thead>
        <tr>
            <th>Especie</th>
            <th>Mes</th>
            <th>KG Req.</th>
            <th>KG Cum.</th>
            <th>Estado</th>
            <th>Fecha Límite</th>
        </tr>
    </thead>
    <tbody>
        {% for e in entregas %}
        <tr>
            <td>{{ e.especie.nombre }}</td>
            <td>{{ e.mes }}</td>
            <td>{{ e.toneladas_requeridas }}</td>
            <td>{{ e.toneladas_cumplidas }}</td>

            <td>
                {% if e.compromiso_sin_stock %}
                    <span class="badge bg-warning text-dark">Comprometido</span>
                {% else %}
                    <span class="badge bg-success">Normal</span>
                {% endif %}
            </td>

            <td>
                {{ e.fecha_limite|default:"-" }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'contratos' %}" class="btn btn-secondary">Volver</a>

{% endblock %}
